body {
    /* background: rgb(136,231,227);
    background: linear-gradient(90deg, rgba(136,231,227,1) 0%, rgba(9,121,12,0.7047151624321604) 42%, rgba(0,212,255,1) 100%); */
    /* background: rgb(136,231,227);
    background: linear-gradient(90deg, rgba(136,231,227,1) 0%, rgba(9,78,121,0.7047151624321604) 42%, rgba(0,212,255,1) 100%);  */
    background-color: rgba(189, 166, 166, 0.856);
    background-image: url(./images/cropped-2560-1600-878722.jpg);
    font-family: 'Calibri', sans-serif;
}

.brand {
    color:wheat;
    text-shadow:1.2px 1.2px 1.2px black;
    font-size:clamp(10px, 2vw, 3rem);
}

.navbar {
    position: absolute;
    display:flex;
    left: 22px;
    top:22px;
}

.burger{
    position:absolute;
    right: 22px;
    top:22px;
    font-size:clamp(10px, 2vw, 3rem);
    background-color:rgba(255, 228, 196, 0);
    color:wheat;
    border-radius: 20px;
    border:none;
}



.dropdown{
    display:none;
    position:absolute;
    top:50px;
    right:0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.dropdown ul li a:hover {
    display: block;
    color:grey;
    text-decoration: none;
}

.top {
    /* width: 90%; */
    position: relative;
    /* margin: auto;    */
    
}

.top>img{
    width: 100%;

}

.elegant{
    position:absolute;
    text-align: center;
    color:wheat;
    top:50%;
    left:10%;
    margin-right: 20%;
    /* background-color: rgba(128, 128, 128, 0.808); */
    background-color: rgba(218, 165, 32, 0.856);
    padding:2%;
    border-radius: 30px;
    transition-duration: 2s;  
    /* width: 20%; */
    width:clamp(100px, 20%,50rem);


}


.elegant:hover{
    transform:scale(1.2);
    /* background-color: rgba(218, 165, 32, 0.842); */
    background-color: rgba(0, 167, 0, 0.781);
    border-radius: 200px;
    
}

.elegant>h1{
    /* font-size: 40px; */
    font-size: clamp(15px, 2.5vw, 5rem);
    text-shadow: 2px 2px 2px black;
}

.elegant>h3{

    /* font-size: 20px; */
    font-size: clamp(15px,1.25vw, 5.25rem);
    text-shadow: 1.5px 1.5px 1.5px black;
}



/* PART2 */

.container2 {
    width:100%;    
}

.simple {
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    
}

#simple1 {
    margin: auto;
    width: 40%;
    color:wheat;
    background:rgba(83, 83, 83, 0.356);
    border-radius: 50px;
    border:4px grey;
    text-shadow: 2px 2px 2px black;
    transition-duration: 2s;
    font-size: clamp(15px, 2.5vw,5rem);
}

#simple1:hover{
    color:rgb(0, 170, 0);
    cursor: pointer;
}

figcaption{
    font-size: 15px;
}

.bigbox{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width:90%;
    margin:auto;
}

/* .boximages{
    width:clamp(10px, 300px, 3rem);
    height: auto;
} */

.box1, .box2, .box3{
    flex:1 1 300px;
    box-sizing: border-box;
    background-color: rgba(0, 81, 128, 0.342);
    color: wheat;
    text-align: center;
    margin-top: 5%;
    padding: 2%;
    border:10px solid rgba(245, 222, 179, 0.747);
    box-sizing: border-box;
    
}

.box1{
    border-radius: 30px;
    border-radius:30px 0px 0px 30px;
}

.box2{
    border-radius: none;
}

.box3{
    border-radius: 0px 30px 30px 0px;
}
.boxh{
    font-size: clamp(10px, 1.5vw, 3rem) ;
}

.boxp{
    font-size: clamp(10px, 1vw, 2rem);

}

.bigbox>div>img {
    /* flex: 1fr 1fr 1fr; */
    width:clamp(10%, 100%, 80rem);
    /* height: clamp(5%, 60%, 100%); */
    /* width: 100%; */
}

.bigbox>div>h2 {
    text-shadow: 1.5px 1.5px 1.5px black;
}

.moreinfo {
    background-color: rgba(245, 222, 179, 0.87);
    width: 80px;
    height: 40px;
    border-radius: 40px;
    color:grey;
    transition-duration: .5s;
}

.moreinfo:hover{
    transform: scale(1.05);
    background-color: goldenrod;
}

a {
    text-decoration: none;
}


footer {
    text-align: center;
    color: rgba(245, 222, 179, 0.521);
    text-shadow: 1px 1px rgba(65, 65, 65, 0.658);
    width:80%;
    margin: auto;
}



/* @media screen and (max-width: 900px){ */


    /* #work2{
        font-size: 15px;
        text-shadow: 1.5px 1.5px black;}
    
    #work {font-size: 15px;
        text-shadow: 1.3px 1.3px black;} */

    /* #simple1 {
        font-size: 20px; */
    /* }
} */
