body {
    /* background: rgb(136,231,227);
    background: linear-gradient(90deg, rgba(136,231,227,1) 0%, rgba(9,121,12,0.7047151624321604) 42%, rgba(0,212,255,1) 100%); */
    background: rgb(136,231,227);
    background: linear-gradient(90deg, rgba(136,231,227,1) 0%, rgba(9,78,121,0.7047151624321604) 42%, rgba(0,212,255,1) 100%); 
    font-family: 'Calibri', sans-serif;
}

.brand {
    color:wheat;
    text-shadow: 1.3px 1.3px black;
    font-size:30px;
}

.navbar {
    position: absolute;
    display:flex;
    left: 22px;
    top:22px;
}

button{
    position:absolute;
    right: 22px;
    top:22px;
    font-size: 30px;
    background-color:rgba(255, 228, 196, 0);
    color:wheat;
    border-radius: 20px;
    border:none;
}

.top {
    position: relative;
}

.top>img{
    width: 100%;

}

.elegant{
    position:absolute;
    text-align: center;
    color:wheat;
    top:45%;
    left:10%;
    margin-right: 30%;
    background-color: rgba(128, 128, 128, 0.808);
    padding:2%;
    border-radius: 30px;
    transition-duration: 2s;    
}


.elegant:hover{
    transform:scale(1.1);
    background-color: rgba(218, 165, 32, 0.842);
    border-radius: 200px;
    
}

.elegant>h1{
    font-size: 40px;
    text-shadow: 2px 2px black;
}

.elegant>h3{
    font-size: 20px;
    text-shadow: 1.3px 1.3px black;
}



/* PART2 */

.container2 {
    width:100%;    
}

.simple {
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
    
}

#simple1 {
    margin: auto;
    width: 40%;
    color:wheat;
    background:rgba(128, 128, 128, 0.356);
    border-radius: 20px;
    border:4px inset grey;
    text-shadow: 1px 1px black;
    transition-duration: 2s;
}

#simple1:hover{
    color:rgb(0, 187, 0);
    cursor: pointer;
}

figcaption{
    font-size: 15px;
}

.bigbox{
    display: flex;
    width:90%;
    margin:auto;
}

.box1, .box3 {
    margin-top: 10%;
    padding: 2%;
    border:10px solid wheat;
    border-radius: 30px;
    text-align: center;
    border-radius:30px 0px 0px 30px;
    background-color: rgba(0, 128, 0, 0.637);
    color: wheat;
}

.box2{
    margin-top: 10%;
    padding: 2%;
    border:10px solid wheat;
    border-radius: none;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.637);
    color: wheat;
}

.box3{
margin-top: 10%;
    padding: 2%;
    border:10px solid wheat;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.637);
    color: wheat;
}

.bigbox>div>img {
    width: 100%;
}

.bigbox>div>h2 {
    text-shadow: 1.1px 1.1px black;
}

a {
    text-decoration: none;
}


footer {
    text-align: center;
    color: rgba(245, 222, 179, 0.521);
    text-shadow: 1px 1px rgba(65, 65, 65, 0.658);
}









@media screen and (max-width: 900px){


    #work2{
        font-size: 20px;
        text-shadow: 1.5px 1.5px black;}
    
    #work {font-size: 15px;
        text-shadow: 1.3px 1.3px black;}

    #simple1 {
        font-size: 20px;
    }
}